{% extends "base.html"%} 

{% block content %}


<h1>Welcome to Rex: A Modern Code Snippets Manager</h1>
    
<br><br>
{% block nav %}
{% if logged_in %}
<span class="link"><a href="{% url 'userprofile' pk=user.pk %}">Profile</a></span>
<span class="link"><a href="{% url 'snippets' %}">Logout</a></span>
{% endif %}
{% if not logged_in %}
<span class="link"><a href="{% url 'login' %}">Login</a></span>
<span class="link"><a href="{% url 'register' %}">Register</a></span>
{% endif %}
{% endblock %}


{% for snippet in snippets %}
{% if snippet.snippet_title %}
<div id="title">
     <strong>Snippet title: {{snippet.snippet_title}}</strong>
</div>
{% endif %}
<p id="snippet">{{snippet.snippet_text}}</p>
<p id="language">Language: {{snippet.snippet_lang}}</p><br><br>
{% endfor %}

{% endblock %}
