{% extends "base.html"%} 

{% block content %}


<h1>Welcome to Rex: A Modern Code Snippets Manager</h1>
    
<br><br>
{% block nav %}
<l>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}">Register</a>
</l>
{% endblock %}


{% for snippet in snippets %}
{% if snippet.snippet_title %}
<div id="title">
     <strong>Snippet title: {{snippet.snippet_title}}</strong>
</div>
{% endif %}
<p id="snippet">{{snippet.snippet_text}}</p>
<p id="language">Language: {{snippet.snippet_lang}}</p><br><br>
{% endfor %}

{% endblock %}
